body{position:relative}
.search{
    width: 50%;
    height:42px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}
.search input{
    width: 85%;
    height: 38px;
    padding-left: 1.9%;
    font-size: 16px
}
.search input::-webkit-input-placeholder{
    font-size: 14px;
}/*输入框中的提示语*/
.search>button{
    width:60px;
    height: 42px;
    border-radius: 4px;
    margin-top: -1px;
}
/*商品*/
.allGoods{
    width: 74%;
    margin-left: 4%;
    margin-top: 10px;
    background: #00F7DE;
}
.allGoods ul li{
    float: left;
    width: 216px;
    height:250px;
    margin-left: 20px;
    overflow: hidden;
    position: relative;
    margin-top: 15px;
}
.allGoods ul li img{
    width: 216px;
    height: 250px;
}
.allGoods ul li:hover{
    cursor: pointer;
}
/*商品信息简要信息*/
.allGoods .introduce{
    width: 100%;
    height:70px;
    background: rgba(145,238,216,0.4);
    position: absolute;
    top: 220px;
    transition: all 0.5s;
}
.allGoods ul li:hover .introduce{
    top:180px;
}
.allGoods .introduce .price{
    font-size: 20px;
    float:right;
    margin-right:4px;
    color: rgba(238,127,46,0.98);
}
.allGoods .introduce .name{
    font-size: 18px;
    margin-left: 4px;
    color: #000;
}
.allGoods .introduce .name:hover{
    color: rgba(238,84,88,0.98);
    text-decoration: underline;
}
.allGoods ul li p{
    margin-top: 4px;
    font-size: 13px;
}
/*没有查询到商品的提示*/
.noGoods{
    width: 100%;
    text-align: center;
    color: rgba(238,65,124,0.98);
    margin-top: 20px;
    font-size: 16px;
    display: none;
}
/*公告部分的样式*/
.allNotices{
    width: 19%;
    position: fixed;
    top: 20%;
    right: 3%;
}
.allNotices h3{
    font-family: 华文行楷;
    font-size: 28px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;

}
.allNotices ul li{
    margin-top: 8px;
    font-family: Arial, Verdana, "微软雅黑", "宋体";
}
.allNotices ul li a{
    display: inline-block;
    width: 100%;
    height: 22px;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.allNotices ul li a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: rgba(238,47,54,0.98);
}

/*每条公告的详情*/
.noticeDetail{
    width: 350px;
    display: none;
    margin-right: auto;
    margin-left: auto;
    height: 200px;
    overflow: auto;
}

.noticeDetail .noticeTitle{
    margin-top: 15px;
    font-size: 22px;
    font-family: 华文隶书;
}
.noticeDetail .noticeContent{
    margin-top: 20px;
    text-indent: 2em;
}
